<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="My Fakebook">
        <meta name="author" content="Pablo Peralta">
        <link rel="stylesheet" href="/static/css/fakebook.css">

        <title>Pablo Peralta | Fakebook</title>
    </head>

    <body background="/static/image/image.jpg">
        <a href="/portfolio" style="color:white">Portfolio</a>
        <h1><strong>FAKEBOOK</strong></h1>
        <strong style="color: white">Search</strong> <input type="text" placeholder="Search by Name" id="search">

        <br>

        <h2 style="color: white">PABLO DANIEL PERALTA CLARO</h2>
        <img src="/static/image/pablo.png" width="300" height="300">
        <br>
        <br>

        <button>Add a friend</button>
        <br>

        <p class="category"><strong>City:</strong> Málaga</p>
        <p class="category"><strong>Age:</strong> 34</p>
        <p class="category"><strong>Education:</strong> Smart Ninja</p>
        <p class="category"><strong>Hobby:</strong> Play Soccer</p>
        <p class="category"><strong>FB Friends:</strong> 123456789</p>
        <p class="category"><strong>FB Enemies:</strong> -123456789</p>

    </body>
</html>